#days_hbox {
	-fx-alignment: center;
	-fx-background-color: linear-gradient(from 75.0px 75.0px to 450.0px 130.0px, rgb(98.0, 81.0, 253.0), rgb(64.0, 0.0, 128.0));
}

#days_hbox VBox {
	-fx-alignment: center;
}
#days_hbox VBox Text {
	-fx-fill: white;
	-fx-font-size: 1.2em;
	-fx-font-weight: bold;

}

#days_hbox VBox HBox {
	-fx-alignment: center;
	-fx-spacing: 10.0;
}

#weather_by_time_hbox {
	-fx-background-color: linear-gradient(from 0.0% 0.0% to 50.0% 50.0%, reflect, rgb(64.0, 0.0, 128.0), rgb(185.0, 185.0, 0.0));
	
}

#weather_by_time_hbox VBox {
	-fx-alignment: center;
}

#weather_by_time_hbox VBox Text{
	-fx-fill: white;
	-fx-font-size: 1.0em;
	-fx-font-weight: bold;
}

#center_pane {
	-fx-background-size: cover,auto;
	-fx-border-color:  rgb(64.0, 0.0, 128.0);
	-fx-border-width: 4.0px;
}

#search_hbox{
	-fx-alignment: center_left;
}
#search_hbox Button{
	-fx-border-radius: 40.0%;
}

#location_text{
	-fx-font-size: 1.5em;
}

#date_time_vbox {
	-fx-alignment: top_center;
	-fx-spacing: 10.0;
}
#date_time_vbox Text{
	-fx-font-size: 1.5em;
	-fx-fill: rgb(64.0, 0.0, 128.0);
	-fx-font-weight: bold;
}

#weather_info_more VBox{
	-fx-alignment: center;
}

#daily_main_temp{
	-fx-font-size: 4.5em;
	-fx-font-weight: bolder;
	-fx-fill:white;
	-fx-opacity: 90.0%;
	
}

.bordered {
		-fx-border-color:  rgb(64.0, 0.0, 128.0);
	-fx-border-width: 4.0px;
}